main {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    column-gap: var(--content-padding-horizontal);
    padding: 0 0 48px;
}

main>* {
    grid-column: 2;
}

.content {
    padding-top: 4rem;
}

.blog-content {
    font-size: 19px;
}

.project-content {
    font-size: 19px;
}