@import './css/font.css';
@import './css/layout.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  body {
    @apply bg-gray-50 text-gray-950 dark:bg-gray-950 dark:text-gray-50;
  }

  a {
    @apply text-blue-500 hover:underline;
  }

  *::marker {
    @apply text-gray-950 dark:text-gray-50;
  }

  ul,
  ol {
    @apply flex flex-col gap-4 pl-5;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

:root {
  --footer-height: 60px;
  --content-width: min(
    calc(100vw - 2 * var(--content-padding-horizontal)),
    80ch
  );
  --content-padding-horizontal: 12px;
  --header-height: 56px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
}

/* TODO: get this working with Next.js `Link`s
https://github.com/vercel/next.js/issues/51346 */
/* *:target {
  scroll-margin-top: var(--header-height);
} */
