:root {
  --footer-height: 60px;
  --content-width: min(calc(100vw - 2*var(--content-padding-horizontal)), 65ch);
  --content-padding-horizontal: 12px;
  --header-height: 56px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 1.5rem;
  gap: 1rem;
}

*:target {
  scroll-margin-top: var(--header-height);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background 350ms, background-color 350ms, color 350ms;
}

*::marker {
  color: var(--color-text);
}

div {
  transition: background 350ms, background-color 350ms;
}

svg {
  transition: stroke 350ms, stroke-width 150ms;
}

main {
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
  column-gap: var(--content-padding-horizontal);
  padding: 0 0 48px;
}

main>* {
  grid-column: 2;
}

.content {
  padding-top: 4rem;
}

.blog-content {
  font-size: 19px;
}

.project-content {
  font-size: 19px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}