@import './css/font.css';
@import './css/layout.css';

:root {
  --footer-height: 60px;
  --content-width: min(calc(100vw - 2*var(--content-padding-horizontal)), 80ch);
  --content-padding-horizontal: 12px;
  --header-height: 56px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 1.5rem;
  gap: 1rem;
}

/* TODO: get this working with Next.js `Link`s
https://github.com/vercel/next.js/issues/51346 */
/* *:target {
  scroll-margin-top: var(--header-height);
} */

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

*::marker {
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}